*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
      padding: 80px;
      background-color: rgb(27, 204, 204);
      color: white;
      text-align: center;
}
.header h1{
    font-size: 80px;
}
.navbar{
    background-color: rgb(29, 28, 28);
    overflow: hidden;
}
.navbar a{
    color:white;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;

}
.navbar a.right{
    float: right;
}
.navbar a:hover{
    background-color: rgb(173, 169, 169);
    color:black;
}
.footer{
    padding-bottom: 100px ;
      background-color: rgb(5, 29, 29);
      color: white;
      text-align: center;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}