<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!--Include bootstrap css-->
    <link rel="nofollow" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" >

    <!--Include css file-->
    <link rel="stylesheet" href="style.css">

    <!--Include AngularJS external libaries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
</head>
<body >
   <div cass="container" ng-controller="AppController">
      <div class="panel panel-default">
         <div class="panel-heading"><span class="lead">User Registration</span></div>
         <div class="formContainer">
               <form  name="myForm" ng-submit="submit()" class="form-horizontal"> 
                     <input type="hidden" ng-model="AppController.user.id"/>

                     <!--Username-->
                     <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-lable" for="uname" >Name</label>
                           <div class="col-md-7">
                                 <input type="text" ng-model="AppController.user.username" id="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3"/>
                                 <div class="has-error" ng-show="myForm.$dirty">
                                 <span ng-show="myForm.uname.$error.required" >This is a required field</span>
                                 <span ng-show="myForm.uname.$error.minlength">Minimum Length Required is 3</span>
                                 <span ng-show="myForm.uname.$invalid" >Please fill valid data</span>
                              
                                 </div>
                                
                           </div>
                        </div>
                     </div>
                     
               
                     <!--Address-->
                     <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-lable" for="address">Address</label>
                           <div class="col-md-7">
                                 <input type="text" id="address" ng-model="AppController.user.address" placeholder="Enter your address" class="address form-control input-sm">
                              
                           </div>
                        </div>
                     </div>
                      
                     
               
                   <!--Email-->
                   <div class="row">
                        <div class="form-group col-md-12">
                           <label class="col-md-2 control-lable" for="email">Email</label>
                           <div class="col-md-7">
                                 <input type="email" ng-model="AppController.user.email" placeholder="Enter your email"  class="email form-control input-sm" required> 
                                 <div class="has-error" ng-show="myForm.$dirty">
                                       <span ng-show="myForm.email.$error.required" >This is a required field</span>
                                       <span ng-show="myForm.email.$invalid" >Please fill valid data</span>
                                    
                                    
                                 </div>
                                 
                           </div>
                        </div>
                     </div>
                      
                      <!--while submitting-->
                      <div class="row">
                         <div class="form-actions floatRight">
                            <input type="submit" value="{{!AppController.user.id ? 'Add':'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                            <button type="button" ng-click="AppController.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                         </div>
                      </div>
                     
                   </form>
               
         </div>
      </div>
   </div>

   <!--Default panel contents-->
   <div class="panel panel-default">
      <div class="panel-heading"><span class="lead">List of Users</span></div>
      <div class="tablecontroller">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Email</th>
                  <th width="100"></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="u in AppController.users">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
    
    <!--Include Controller-->
    <script src="AppController.js"></script>

    <!--Include module-->
    <script src="app.js"></script>

    
</body>
</html>